---
import { parse } from 'node-html-parser';
import MarkdownIt from 'markdown-it';
import { getCollection } from 'astro:content';
import BlogLayout from '@layouts/BlogLayout.astro';
import Excerpt from '@components/Excerpt.astro';
import Pagination from '@components/Pagination.astro';
const md = new MarkdownIt();

export async function getStaticPaths({ paginate }) {
  const posts = await getCollection('blog', ({ data }) => !data.draft);
	posts.sort((a, b) => Date.parse(b.data.date) - Date.parse(a.data.date));

  return paginate(posts, { pageSize: 5 });
}
const { page } = Astro.props;
---
<BlogLayout
	title={`Blog Page ${page.currentPage}`}
	description="Casey is a front end developer with a background in SEO and business management."
>
	{page.data.map(async (post) => {
		let { excerpt } = post.data;
		if(excerpt) {
			excerpt = parse(`<p>${excerpt}</p>`);
		} else {
			excerpt = parse(md.render(post.body)).querySelector('p:first-of-type');
		}
		return (
			<Excerpt
				date={post.data.date}
				slug={post.data.slug}
				title={post.data.title}
				summary={excerpt}
			/>
		)
	})}
	<Pagination
		nextPageUrl={page.url.next}
		prevPageUrl={page.url.prev}
		currentPage={page.currentPage}
		totalPages={page.lastPage}
	/>
</BlogLayout>