---
import { parse } from 'node-html-parser';
import BlogLayout from '../../../layouts/BlogLayout.astro';
import Excerpt from '../../../components/Excerpt.astro';
import Pagination from '../../../components/Pagination.astro';

export async function getStaticPaths({ paginate }) {
  const posts = await Astro.glob('../../../content/blog/**/*.md');

  return paginate(posts, { pageSize: 5 });
}
const { page } = Astro.props;
---
<BlogLayout
	title={`Blog Page ${page.currentPage}`}
	description="Casey is a front end developer with a background in SEO and business management."
>
	{page.data.map(async (post) => {
		let { excerpt } = post.frontmatter;
		if(excerpt) {
			excerpt = parse(`<p>${excerpt}</p>`);
		} else {
			excerpt = parse(await post.compiledContent()).querySelector('p:first-of-type');
		}
		return (
			<Excerpt
				id={post.frontmatter.slug}
				date={post.frontmatter.date}
				slug={post.frontmatter.slug}
				title={post.frontmatter.title}
				summary={excerpt}
			/>
		)
	})}
	<Pagination
		nextPageUrl={page.url.next}
		prevPageUrl={page.url.prev}
		currentPage={page.currentPage}
		totalPages={page.lastPage}
	/>
</BlogLayout>