---
import { parse } from 'node-html-parser';
import MarkdownIt from 'markdown-it';
import { getCollection } from 'astro:content';
import BlogLayout from '@layouts/BlogLayout.astro';
import Excerpt from '@components/Excerpt.astro';
import Pagination from '@components/Pagination.astro';
const md = new MarkdownIt();

const posts = await getCollection('blog', ({ data }) => !data.draft);
posts.sort((a, b) => Date.parse(b.data.date) - Date.parse(a.data.date));

const totalPages = Math.ceil(posts.length / 5);
posts.splice(5);

---
<BlogLayout
	title="All posts"
	description="Casey is a front end developer with a background in SEO and business management."
>
	{posts.map(async (post) => {
		const { title, slug, date } = post.data;
		let { excerpt } = post.data;
		if (excerpt) {
			excerpt = parse(`<p>${excerpt}</p>`);
		} else {
			excerpt = parse(md.render(post.body)).querySelector('p:first-of-type');
		}
		return (
			<Excerpt
				date={date}
				slug={slug}
				title={title}
				summary={excerpt}
			/>
		);
	})}
	<!-- on the home page, the next page will always be blog page 2 -->
	<Pagination
		nextPageUrl="/blog/page/2"
		currentPage={1}
		totalPages={totalPages}
	/>
</BlogLayout>